@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #002868;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

header {
  order: 1;
}

.header_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

h1 {
  font-family: "Courgette", cursive;
  font-size: 4vw;
}

h2 {
  text-align: center;
}

.HR_Logo {
  width: 20vw;
}

.allTrips {
  display: flex;
  flex-direction: column;
}

/* ---------------------map styling-------------------------- */

#us-map {
  width: 60vw;
  height: auto;
}
path:hover,
circle:hover {
  stroke: white !important;
  stroke-width: 2px;
  stroke-linejoin: round;
  fill: darkgray !important;
  cursor: pointer;
}

path {
  cursor: pointer;
  fill: grey;
}
.selected {
  fill: #002868;
  stroke: white;
  stroke-width: 1px;
  stroke-linejoin: round;
}

#path67 {
  fill: none !important;
  stroke: #a9a9a9 !important;
  cursor: default;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #bf0a30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}

.map_wrapper {
  order: 2;
  margin-top: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.state_select_h2 {
  text-align: center;
  font-size: 3vw;
}
/* ====================================================== */

#parkDropdown {
  width: 20vw;
}

.tripSelection {
  order: 3;
}

.weather {
  order: 4;
}

.display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.weather-Card {
  background: #e6aa8e;
  margin: 10px;
}

.weather-Card h1 {
  color: white;
}

/* ============================================================== */

.tripPreview {
  order: 5;
  display: flex;
  flex-direction: column;
}

.parkPreview img {
  width: 25vw;
  height: auto;
}

.previewCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* ================================================================== */

.myTrips {
  order: 6;
}

/* =================================================================== */

footer {
  text-align: center;
  order: 7;
}
