@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

/*Typography
--------------------------------------------------------------*/
body {
  background-color: #49701f;
  color: white;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button,
input,
select,
textarea {
  color: #ffffff;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

header {
  order: 1;
  width: 100%;
  margin-top: -1vw;

}

.header_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 5px white;
  width: 100%;
}

h1 {
  font-family: "Courgette", cursive;
  font-size: 4vw;
  margin-bottom: -0.2vw;
}

h2 {
  text-align: center;
}

.HR_Logo {
  width: 15vw;
  margin-right: 12vw;
  margin-bottom: -3vw;
}

.allTrips {
  display: flex;
  flex-direction: column;
}

/* ---------------------map styling-------------------------- */

#us-map {
  width: 60vw;
  height: auto;
}
path:hover,
circle:hover {
  stroke: white !important;
  stroke-width: 2px;
  stroke-linejoin: round;
  fill: darkgray !important;
  cursor: pointer;
}

path {
  cursor: pointer;
  fill: white;
}
.selected {
  fill: #002868;
  stroke: white;
  stroke-width: 1px;
  stroke-linejoin: round;
}

#path67 {
  fill: none !important;
  stroke: white !important;
  cursor: default;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #002868;
  border: 2px solid #bf0a30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}

.map_wrapper {
  order: 2;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 3vw;
  margin-top: 3vw;
  
}

.state_select_h2 {
  text-align: center;
  font-size: 2vw;
  margin-left: -10vw;
  margin-bottom: 2vw;
}
/* ====================================================== */

select {
  appearance: none;
  text-align: center;
  margin: .5vw;
  font-family: inherit;
  line-height: inherit;
  border-radius:20px;
 flex-wrap: wrap;
  background:#cccccc;
  border:0px;
  outline:none;
  width: 40ch;
  height: fit-content;
  color: #49701f;
  overflow: auto;
}
.tripselectTitle {
  border-top: white 5px solid;
}

.weather {
  margin-top: 2vw;
}

.tripSelection {
  padding-top: 3vw;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  width: 1000px;
  
  


}

.tripSelection {
  order: 3;
}

.weather {
  order: 4;
}

.display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.weather-Card {
  margin: 10px;
}

.weather-Card h1 {
  color: #002868;
}

/* ============================================================== */

.tripPreview {
  order: 5;
  border-top: 2px solid #173a00;
  display: flex;
  flex-direction: column;
}

.tripWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.parkPreview {
  width: 30vw;
  float: left;
}

.parkDetail {
  width: 30vw;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 5px;
}

.park_description {
  font-size: 1vw;
  color: white;
  margin-top: 0.5vw;
  margin-bottom: 3vw;
  margin-left: 10px;
}

.park_image {
  width: 20vw;
  height: auto;
}

.bizPreview {
  width: 30vw;
  float: center;
}
.bizDetail {
  width: 30vw;
  float: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 5px;
}

.biz_description {
  font-size: 1.25vw;
  color: white;
  margin-top: 0.5vw;
  margin-bottom: 3vw;
  margin-left: 10px;
}

.eateryPreview {
  width: 30vw;
  float: right;
}
.eatDetail {
  width: 30vw;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 5px;
}

.eatery_description {
  font-size: 1.25vw;
  height: 15vw;
  color: white;
  margin-top: 0.5vw;
  margin-bottom: 3vw;
  margin-left: 10px;
}

.previewDetails {
  order: 6;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 20vw;
}

.previewCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  color: white;
  margin-bottom: 2vw;
}

/* ================================================================== */

.myTrips {
  order: 7;
  margin-top: 5vw;
}
.myTripsCards{
  overflow: auto;
  height: 35vw;
  width: 15vw;

}

/* =================================================================== */

footer {
  text-align: center;
  order: 8;
}
